<%- include('layouts/header.ejs') %>
<div class="main_friend">
<div class="currentplaying">
    <p class="heading">Danh sách bạn bè</p>
  </div>
  
        <%
             if (users.length > 0) {
                 for (let i = 0; i < users.length; i++) {
                    %>
                    <div class="loader" data-id="<%= users[i]['_id'] %>">
                        <div class="song">
                      <p class="name"> <%= users[i]['name'] %></p>
                      <%
                            if(users[i]['is_online']==1){
                                %>
                                <p class="artist-online" id="<%= users[i]['_id']%>-status">Online</p>
                                <%
                            }else{
                                %>
                                <p class="artist-offline" id="<%= users[i]['_id']%>-status">Offline</p>
                                <%
                            }
                        %>
                      </div>
                     <div class="albumcover"> <img src="<%= 'http://127.0.0.1:3000/' + users[i]['image'] %>" alt="" width="50px" height="50px"></div>

                        
                    </div>
                     <%
                }
            }
        %>
        </div>

<div class="card-container" >
  <div class="card-header">
    <div class="img-avatar" >
        <img id ="chat-avatar" src="" alt="" width="50" height="50"/>
    </div>
    <div class="text-chat" id ="chat-name">Chat</div>
  </div>
  <div class="card-body" >
    <div class="messages-container" id = "chat-container">
        
        
    </div>
    <div class="message-input" id = "chat-form">
      <form>
        <textarea placeholder="Type your message here" class="message-send" id = "message"></textarea>
        <button type="submit" class="button-send">Send</button>
      </form>
    </div>
  </div>
</div>

<script>

    var receiver_id;
    var sender_id = '<%= user._id %>';
    var socket = io('/user-namespace',{
        auth:{
            token: '<%= user._id %>'
        }
    });


    $(document).ready(function(){
        $('.loader').click(function(){
            console.log("Đã click vào tên bạn");
            var userId = $(this).attr('data-id');
            receiver_id = userId;

            var userName = $(this).find('.name').text();  // Lấy tên người
        var userImage = $(this).find('.albumcover img').attr('src');  // Lấy đường dẫn hình ảnh

        // Cập nhật tên và ảnh trong khu vực chat
        console.log("Cập nhật tên:", userName);
        console.log("Cập nhật ảnh:", userImage);

        $('#chat-name').text(userName);  // Cập nhật tên người
        $('#chat-avatar').attr('src', userImage);  // Cập nhật ảnh

            socket.emit('existsChat',{
                sender_id:sender_id,
                receiver_id:receiver_id
            });
        });
    });
    //update user online status
    socket.on('getOnlineUser', function(data){
        $('#'+data.user_id+'-status').text('Online');
        $('#'+data.user_id+'-status').removeClass('artist-offline');
        $('#'+data.user_id+'-status').addClass('artist-online');
    });

    socket.on('getOfflineUser', function(data){
        $('#'+data.user_id+'-status').text('Offline');
        $('#'+data.user_id+'-status').addClass('artist-offline');
        $('#'+data.user_id+'-status').removeClass('artist-online');
        
    });

    $('#chat-form').submit(function(event){
        event.preventDefault();

        var message = $('#message').val();

        $.ajax({
            url:'/save-chat',
            type: 'POST',
            data:{sender_id:sender_id, receiver_id:receiver_id,message:message},
            success:function(response){
                if(response.success){
                    console.log(response);
                    $('#message').val('');
                    let chat = response.data.message;
                    let html = `
                        <div class="message-box right">
                            <p>${chat}</p>
                        </div>                    
                    `;
                    $('#chat-container').append(html);
                    socket.emit('newChat',response.data);

                    scrollChat();
                }else{
                    alert(response.mgs);
                
                }
            }
        });
    });

    socket.on('loadNewChat',function(data){
        if(sender_id == data.receiver_id  && receiver_id ==data.sender_id){
            let html =`
            <div class="message-box left">
                <p>${data.message}</p>
            </div>
        `;
        $('#chat-container').append(html);
        }
        scrollChat();
        
    });

    //load old chats
    socket.on('loadChats',function(data){
        $('#chat-container').html('');

        var chats = data.chats;
        let html ='';

        for(let x = 0; x < chats.length;x++){
            let addClass ='';
            if(chats[x]['sender_id'] == sender_id){
                addClass='message-box right';
            }
            else{
                addClass = 'message-box left';
            }

            html +=`
                <div class='${addClass}'>
                            <p>${chats[x]['message']}</p>
                        </div>  
            `;
        }
        $('#chat-container').append(html);

        scrollChat();
    });

    function scrollChat(){
        $('#chat-container').animate({
            scrollTop: $('#chat-container').offset().top + $('#chat-container')[0].scrollHeight
        },0);
    }
</script>

<%- include('layouts/footer.ejs') %>


